{% extends 'base.html.twig' %}

{% block body %}


  <div class="row">
    <div class="col-sm-12">
    <h1>Pool</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pool.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pool.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pool_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pool_edit', { 'id': pool.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
