{% extends 'base.html.twig' %}

{% block body %}


  <div class="row">
    <div class="col-sm-12">
        <h1>home Page</h1>
        <p>{{ user.id }}</p>
        <p>{{ user.login }}</p>
        <p>{{ user.password }}</p>
        <p>{{ role }}</p>
        <p>{{ user.role.name }}</p>

       

        {% for pool in pools %}

        <table>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Os</th>
                        <th scope="col">Nbcpu</th>
                        <th scope="col">Currentcpu</th>
                        <th scope="col">Currentram</th>
                        <th scope="col">Maxram</th>
                        <th scope="col">Harddisk</th>
                        <th scope="col">Currentharddisk</th>
                        <th scope="col">active</th>
                        <th scope="col">pool</th>
                        <th scope="col">user</th>
                        <th scope="col" >Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for vm in vms %}
                    {% if vm.pool.name == null %}
                    <tr>
                        <td><a href="{{ path('vm_show', { 'id': vm.id }) }}">{{ vm.id }}</a></td>
                        <td>{{ vm.name }}</td>
                        <td>{{ vm.os }}</td>
                        <td>{{ vm.nbcpu }}</td>
                        <td>{{ vm.currentCpu }}</td>
                        <td>{{ vm.currentRam }}</td>
                        <td>{{ vm.maxRam }}</td>
                        <td>{{ vm.harddisk }}</td>
                        <td>{{ vm.currentharddisk }}</td>
                        <td>{{ vm.active }}</td>
                        <td>{{ vm.pool.name }}</td>
                        <td>{{ vm.user.login }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('vm_show', { 'id': vm.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('vm_edit', { 'id': vm.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
             </tbody>
        </table>


            <p>{{pool.name}}</p>
            <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Os</th>
                <th scope="col">Nbcpu</th>
                <th scope="col">Currentcpu</th>
                <th scope="col">Currentram</th>
                <th scope="col">Maxram</th>
                <th scope="col">Harddisk</th>
                <th scope="col">Currentharddisk</th>
                <th scope="col">active</th>
                <th scope="col">pool</th>
                <th scope="col">user</th>
                <th scope="col" >Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for vm in vms %}
                {% if vm.pool.name == pool.name %}
                <tr>
                    <td><a href="{{ path('vm_show', { 'id': vm.id }) }}">{{ vm.id }}</a></td>
                    <td>{{ vm.name }}</td>
                    <td>{{ vm.os }}</td>
                    <td>{{ vm.nbcpu }}</td>
                    <td>{{ vm.currentCpu }}</td>
                    <td>{{ vm.currentRam }}</td>
                    <td>{{ vm.maxRam }}</td>
                    <td>{{ vm.harddisk }}</td>
                    <td>{{ vm.currentharddisk }}</td>
                    <td>{{ vm.active }}</td>
                    <td>{{ vm.pool.name }}</td>
                    <td>{{ vm.user.login }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('vm_show', { 'id': vm.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('vm_edit', { 'id': vm.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endif %}
           {% endfor %}
             </tbody>
        </table>
        {% endfor %}
       
    </div>
  </div>


    
{% endblock %}
